Repository haskell/haskell-language-server, changes with the owners that CODEOWNERS names for each.
All owners: @pepeiborra, @fendor, @berberman, @drsooch, @VeryMilkyJoe, @July541, @Ailrun, @georgefst, @eddiemundo, @OliverMadine, @santiweight, @kokobd, @konn, @ozkutuk, @joyfulmantis, @michaelpj, @Anton-Latukha, @hasufell, @guibou

CODEOWNERS:

# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @berberman
/hls-test-utils
/hie-compat

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-cabal-plugin @fendor
/plugins/hls-cabal-fmt-plugin @VeryMilkyJoe @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-class-plugin @Ailrun
/plugins/hls-eval-plugin
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-floskell-plugin @Ailrun
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-gadt-plugin @July541
/plugins/hls-hlint-plugin @eddiemundo
/plugins/hls-module-name-plugin
/plugins/hls-ormolu-plugin @georgefst
/plugins/hls-pragmas-plugin @berberman @Ailrun @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo
/plugins/hls-rename-plugin @OliverMadine
/plugins/hls-refactor-plugin @santiweight
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-code-range-plugin @kokobd
/plugins/hls-splice-plugin @konn
/plugins/hls-stylish-haskell-plugin @Ailrun
/plugins/hls-explicit-record-fields-plugin @ozkutuk
/plugins/hls-overloaded-record-dot-plugin @joyfulmantis

# Benchmarking
/shake-bench @pepeiborra

# Docs
/docs @michaelpj

# CI
/.circleci @Anton-Latukha
/.github @Anton-Latukha @Ailrun
/.gitlab @hasufell

# Build
*.nix @berberman @michaelpj @guibou
*.project
.gitpod.* @kokobd

proper 9.4 nix bump
  configuration-ghc-94.nix
  flake.lock
  flake.nix
  plugins/hls-fourmolu-plugin/hls-fourmolu-plugin.cabal
Owners: @berberman, @michaelpj, @guibou, @georgefst

revert adding pkg-config
  flake.nix
Owners: @berberman, @michaelpj, @guibou

Add code lens and fix code actions experiments (#3791)
  bench/config.yaml
  ghcide-bench/src/Experiments.hs
Owners: none

Update links to Nix documentation
  docs/installation.md
Owners: @michaelpj

Update links to Nix documentation (#3805)
  docs/installation.md
Owners: @michaelpj

Add support for external Ormolu (#3771)
  docs/configuration.md
  plugins/hls-ormolu-plugin/hls-ormolu-plugin.cabal
  plugins/hls-ormolu-plugin/src/Ide/Plugin/Ormolu.hs
  plugins/hls-ormolu-plugin/test/Main.hs
Owners: @michaelpj, @georgefst

change refine imports for qualified imports
  plugins/hls-explicit-imports-plugin/src/Ide/Plugin/ExplicitImports.hs
  plugins/hls-explicit-imports-plugin/test/Main.hs
  plugins/hls-explicit-imports-plugin/test/testdata/RefineQualified.expected.hs
  plugins/hls-explicit-imports-plugin/test/testdata/RefineQualified.hs
  plugins/hls-explicit-imports-plugin/test/testdata/hie.yaml
Owners: @pepeiborra
