Repository haskell/haskell-language-server, changes with the owners that CODEOWNERS names for each.
All owners: @pepeiborra, @fendor, @michaelpj, @wz1000, @drsooch, @VeryMilkyJoe, @July541, @kokobd, @ozkutuk, @peterbecich, @georgefst, @eddiemundo, @jvanbruegge, @joyfulmantis, @santiweight, @soulomoon, @konn, @0rphee, @berberman, @guibou

CODEOWNERS:

# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @michaelpj @fendor
/hls-test-utils @fendor
/hie-compat @wz1000

# HLS main
/src @fendor
/exe @fendor
/test @fendor

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-cabal-fmt-plugin @VeryMilkyJoe @fendor
/plugins/hls-cabal-gild-plugin @fendor
/plugins/hls-cabal-plugin @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-change-type-signature-plugin
/plugins/hls-class-plugin
/plugins/hls-code-range-plugin @kokobd
/plugins/hls-eval-plugin
/plugins/hls-explicit-fixity-plugin
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-explicit-record-fields-plugin @ozkutuk
/plugins/hls-floskell-plugin @peterbecich
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-gadt-plugin @July541
/plugins/hls-hlint-plugin @eddiemundo
/plugins/hls-module-name-plugin
/plugins/hls-notes-plugin @jvanbruegge
/plugins/hls-ormolu-plugin @georgefst
/plugins/hls-overloaded-record-dot-plugin @joyfulmantis
/plugins/hls-pragmas-plugin @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo
/plugins/hls-refactor-plugin @santiweight
/plugins/hls-rename-plugin
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-semantic-tokens-plugin @soulomoon
/plugins/hls-splice-plugin @konn
/plugins/hls-stan-plugin @0rphee
/plugins/hls-stylish-haskell-plugin @michaelpj

# Benchmarking
/shake-bench @pepeiborra
/bench @pepeiborra

# Docs
/docs @michaelpj

# CI
/.circleci
/.github @michaelpj @fendor

# Build
*.nix @berberman @michaelpj @guibou
*.project @michaelpj
*.stack* @michaelpj
.gitpod.* @kokobd

improve logging in semantic tokens rule (#4135)
  plugins/hls-semantic-tokens-plugin/src/Ide/Plugin/SemanticTokens/Internal.hs
  plugins/hls-semantic-tokens-plugin/src/Ide/Plugin/SemanticTokens/Types.hs
Owners: @soulomoon

hls-notes-plugin: Do not error if no note is under the cursor
  plugins/hls-notes-plugin/src/Ide/Plugin/Notes.hs
Owners: @jvanbruegge

Update contact info in docs
  docs/contributing/contributing.md
Owners: @michaelpj

Update comment in refactor tests
  plugins/hls-refactor-plugin/test/Main.hs
Owners: @santiweight

Mention primary/secondary
  docs/contributing/contributing.md
Owners: @michaelpj

Update contact info in docs (#4137)
  docs/contributing/contributing.md
Owners: @michaelpj

Update comment in refactor tests (#4138)
  plugins/hls-refactor-plugin/test/Main.hs
Owners: @santiweight
