Repository haskell/haskell-language-server, changes with the owners that CODEOWNERS names for each.
All owners: @pepeiborra, @fendor, @jneira, @berberman, @wz1000, @drsooch, @July541, @Ailrun, @tittoassini, @alanz, @georgefst, @eddiemundo, @rayshih, @OliverMadine, @kokobd, @konn, @isovector, @michaelpj, @Anton-Latukha, @hasufell, @guibou

CODEOWNERS:

# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @jneira @berberman
/hls-test-utils @jneira
/hie-compat @wz1000

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-brittany-plugin @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-class-plugin @Ailrun
/plugins/hls-eval-plugin @tittoassini
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-floskell-plugin @alanz @Ailrun
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-haddock-comments-plugin @berberman
/plugins/hls-hlint-plugin @jneira @eddiemundo
/plugins/hls-module-name-plugin @tittoassini
/plugins/hls-ormolu-plugin @alanz
/plugins/hls-pragmas-plugin @berberman @Ailrun @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo 
/plugins/hls-refine-imports-plugin @rayshih 
/plugins/hls-rename-plugin @OliverMadine
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-selection-range-plugin @kokobd
/plugins/hls-splice-plugin @konn
/plugins/hls-stylish-haskell-plugin @Ailrun
/plugins/hls-tactics-plugin @isovector

# Benchmarking
/shake-bench @pepeiborra

# Docs
/docs @michaelpj @jneira

# CI
/.circleci @jneira @Anton-Latukha
/.github @jneira @Anton-Latukha @Ailrun
/.gitlab @jneira @hasufell

# Build
*.nix @berberman @michaelpj @guibou
*.project @jneira

Add diff option for eval plugin
  plugins/hls-eval-plugin/hls-eval-plugin.cabal
  plugins/hls-eval-plugin/src/Ide/Plugin/Eval.hs
  plugins/hls-eval-plugin/src/Ide/Plugin/Eval/Code.hs
  plugins/hls-eval-plugin/src/Ide/Plugin/Eval/CodeLens.hs
  plugins/hls-eval-plugin/src/Ide/Plugin/Eval/Config.hs
Owners: @tittoassini

Add a test for the diff option
  plugins/hls-eval-plugin/hls-eval-plugin.cabal
  plugins/hls-eval-plugin/test/Main.hs
  plugins/hls-eval-plugin/test/testdata/TDiff.expected.default.hs
  plugins/hls-eval-plugin/test/testdata/TDiff.expected.no-diff.hs
  plugins/hls-eval-plugin/test/testdata/TDiff.hs
Owners: @tittoassini

Remove unused nix config
  .gitlab/shell-aarch64-darwin.nix
Owners: @berberman, @michaelpj, @guibou

Add ghc-9.2.1 to gitlab build
  .gitlab-ci.yml
Owners: none

Remove not needed alpine workaround
  .gitlab/ci.sh
Owners: @jneira, @hasufell

Disable alpine by default
  .github/workflows/build.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

guard hlint plugin
  haskell-language-server.cabal
Owners: none

Rename hls in actual cabal project file
  .gitlab/ci.sh
Owners: @jneira, @hasufell

Remove unused workflow
  .github/workflows/rerun.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Use alpine in all workflows
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/caching.yml
  .github/workflows/flags.yml
  .github/workflows/test.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Disable alpine build by default (#2638)
  .github/workflows/build.yml
  .gitlab/ci.sh
  haskell-language-server.cabal
Owners: @jneira, @Anton-Latukha, @Ailrun, @hasufell

Use -j1 to fix oom in bsd-12
  .gitlab-ci.yml
Owners: none

Use -j1 to try fix oom in bsd-13
  .gitlab-ci.yml
Owners: none

Use T.decodeUtf8 + BS.readFile instead of T.readFile
  ghcide/src/Development/IDE/Core/Rules.hs
  plugins/hls-hlint-plugin/src/Ide/Plugin/Hlint.hs
  plugins/hls-retrie-plugin/hls-retrie-plugin.cabal
  plugins/hls-retrie-plugin/src/Ide/Plugin/Retrie.hs
Owners: @pepeiborra, @jneira, @eddiemundo

exclude 9.2.1 for freebsd
  .gitlab-ci.yml
Owners: none

Use T.decodeUtf8 + BS.readFile instead of T.readFile (#2637)
  ghcide/src/Development/IDE/Core/Rules.hs
  plugins/hls-hlint-plugin/src/Ide/Plugin/Hlint.hs
  plugins/hls-retrie-plugin/hls-retrie-plugin.cabal
  plugins/hls-retrie-plugin/src/Ide/Plugin/Retrie.hs
Owners: @pepeiborra, @jneira, @eddiemundo

Add list of merged prs
  ChangeLog.md
Owners: none

Update release instructions
  docs/contributing/releases.md
Owners: @michaelpj, @jneira

Remove branch trigger
  .github/workflows/build.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Include 9.2.1 in the current release
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Bump up hls version
  haskell-language-server.cabal
Owners: none

remove duplicate mention
  docs/contributing/releases.md
Owners: @michaelpj, @jneira

Remove references to branch name
  .github/workflows/build.yml
  .github/workflows/hackage.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Add ghc 9.2.1 to gitlab ci (#2636)
  .gitlab-ci.yml
  .gitlab/ci.sh
  .gitlab/shell-aarch64-darwin.nix
Owners: @jneira, @hasufell, @berberman, @michaelpj, @guibou

Change Type Family Export pattern
  ghcide/src/Development/IDE/Plugin/CodeAction.hs
  ghcide/test/exe/Main.hs
Owners: @pepeiborra

Fix cabal.project gen
  .github/workflows/hackage.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Correct fail-fast condition
  .github/workflows/hackage.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Bump up minor version
  hie-compat/hie-compat.cabal
Owners: @wz1000

Bump up major version
  ghcide/ghcide.cabal
Owners: @pepeiborra

Bump up major version
  hls-graph/hls-graph.cabal
Owners: @pepeiborra

Allow brittany only for 9.0.1
  haskell-language-server.cabal
Owners: none

brittany not supported in hackage and 9.0.2
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Not short hls for hackage
  .github/actions/setup-build/action.yml
  .github/workflows/hackage.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Bump up versions everywhere
  ghcide/ghcide.cabal
  haskell-language-server.cabal
  hls-plugin-api/hls-plugin-api.cabal
  hls-test-utils/hls-test-utils.cabal
  plugins/hls-alternate-number-format-plugin/hls-alternate-number-format-plugin.cabal
  plugins/hls-brittany-plugin/hls-brittany-plugin.cabal
  plugins/hls-call-hierarchy-plugin/hls-call-hierarchy-plugin.cabal
  plugins/hls-class-plugin/hls-class-plugin.cabal
  plugins/hls-eval-plugin/hls-eval-plugin.cabal
  plugins/hls-explicit-imports-plugin/hls-explicit-imports-plugin.cabal
  plugins/hls-floskell-plugin/hls-floskell-plugin.cabal
  plugins/hls-fourmolu-plugin/hls-fourmolu-plugin.cabal
  plugins/hls-haddock-comments-plugin/hls-haddock-comments-plugin.cabal
  plugins/hls-hlint-plugin/hls-hlint-plugin.cabal
  plugins/hls-module-name-plugin/hls-module-name-plugin.cabal
  plugins/hls-ormolu-plugin/hls-ormolu-plugin.cabal
  plugins/hls-pragmas-plugin/hls-pragmas-plugin.cabal
  plugins/hls-qualify-imported-names-plugin/hls-qualify-imported-names-plugin.cabal
  plugins/hls-refine-imports-plugin/hls-refine-imports-plugin.cabal
  plugins/hls-rename-plugin/hls-rename-plugin.cabal
  plugins/hls-retrie-plugin/hls-retrie-plugin.cabal
  plugins/hls-selection-range-plugin/hls-selection-range-plugin.cabal
  plugins/hls-splice-plugin/hls-splice-plugin.cabal
  plugins/hls-stylish-haskell-plugin/hls-stylish-haskell-plugin.cabal
  plugins/hls-tactics-plugin/hls-tactics-plugin.cabal
  shake-bench/shake-bench.cabal
Owners: @pepeiborra, @jneira, @berberman, @drsooch, @fendor, @July541, @Ailrun, @tittoassini, @alanz, @georgefst, @eddiemundo, @rayshih, @OliverMadine, @kokobd, @konn, @isovector

Update hackage index
  cabal-ghc90.project
  cabal-ghc921.project
  cabal.project
Owners: @jneira

Add ghcide in rename plugin
  plugins/hls-rename-plugin/hls-rename-plugin.cabal
Owners: @OliverMadine

Apply linter and add selection demo
  docs/features.md
Owners: @michaelpj, @jneira

Add header linkable
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Add first version of release description
  ChangeLog.md
Owners: none

Add last prs
  ChangeLog.md
Owners: none
