Repository haskell/haskell-language-server, changes with the owners that CODEOWNERS names for each.
All owners: @pepeiborra, @fendor, @jneira, @berberman, @wz1000, @drsooch, @July541, @Ailrun, @tittoassini, @alanz, @georgefst, @eddiemundo, @rayshih, @OliverMadine, @kokobd, @konn, @isovector, @michaelpj, @Anton-Latukha, @hasufell, @guibou

CODEOWNERS:

# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @jneira @berberman
/hls-test-utils @jneira
/hie-compat @wz1000

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-brittany-plugin @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-class-plugin @Ailrun
/plugins/hls-eval-plugin @tittoassini
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-floskell-plugin @alanz @Ailrun
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-haddock-comments-plugin @berberman
/plugins/hls-hlint-plugin @jneira @eddiemundo
/plugins/hls-module-name-plugin @tittoassini
/plugins/hls-ormolu-plugin @alanz
/plugins/hls-pragmas-plugin @berberman @Ailrun @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo 
/plugins/hls-refine-imports-plugin @rayshih 
/plugins/hls-rename-plugin @OliverMadine
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-selection-range-plugin @kokobd
/plugins/hls-splice-plugin @konn
/plugins/hls-stylish-haskell-plugin @Ailrun
/plugins/hls-tactics-plugin @isovector

# Benchmarking
/shake-bench @pepeiborra

# Docs
/docs @michaelpj @jneira

# CI
/.circleci @jneira @Anton-Latukha
/.github @jneira @Anton-Latukha @Ailrun
/.gitlab @jneira @hasufell

# Build
*.nix @berberman @michaelpj @guibou
*.project @jneira

Mention wingman
  ChangeLog.md
Owners: none

Grammar corrections
  ChangeLog.md
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Correct mention
  ChangeLog.md
Owners: none

Warn about th in docs
  docs/troubleshooting.md
  ghcide/src/Development/IDE/Core/Rules.hs
Owners: @michaelpj, @jneira, @pepeiborra

Remove reference to install doc
  ChangeLog.md
Owners: none

Rephrasing
  .github/actions/setup-build/action.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Add new ExportAs case for TypeFamily's.
  ghcide/src/Development/IDE/Plugin/CodeAction.hs
  ghcide/test/exe/Main.hs
Owners: @pepeiborra

Swap unintended test change with real test change.
  ghcide/test/exe/Main.hs
Owners: @pepeiborra

Better style
  ChangeLog.md
Owners: none

Use could to stress it likely will not work
  ghcide/src/Development/IDE/Core/Rules.hs
Owners: @pepeiborra

REmove reliable from the warning
  ghcide/src/Development/IDE/Core/Rules.hs
Owners: @pepeiborra

Reorder comments
  .github/workflows/test.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Change Type Family Export pattern (#2643)
  ghcide/src/Development/IDE/Plugin/CodeAction.hs
  ghcide/test/exe/Main.hs
Owners: @pepeiborra

Rephrasing
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Update docs/supported-versions.md
  docs/supported-versions.md
Owners: @michaelpj, @jneira

Use last version of internal deps
  ghcide/ghcide.cabal
  haskell-language-server.cabal
  hls-plugin-api/hls-plugin-api.cabal
  hls-test-utils/hls-test-utils.cabal
  plugins/hls-alternate-number-format-plugin/hls-alternate-number-format-plugin.cabal
  plugins/hls-brittany-plugin/hls-brittany-plugin.cabal
  plugins/hls-call-hierarchy-plugin/hls-call-hierarchy-plugin.cabal
  plugins/hls-class-plugin/hls-class-plugin.cabal
  plugins/hls-eval-plugin/hls-eval-plugin.cabal
  plugins/hls-explicit-imports-plugin/hls-explicit-imports-plugin.cabal
  plugins/hls-floskell-plugin/hls-floskell-plugin.cabal
  plugins/hls-fourmolu-plugin/hls-fourmolu-plugin.cabal
  plugins/hls-haddock-comments-plugin/hls-haddock-comments-plugin.cabal
  plugins/hls-hlint-plugin/hls-hlint-plugin.cabal
  plugins/hls-module-name-plugin/hls-module-name-plugin.cabal
  plugins/hls-ormolu-plugin/hls-ormolu-plugin.cabal
  plugins/hls-pragmas-plugin/hls-pragmas-plugin.cabal
  plugins/hls-qualify-imported-names-plugin/hls-qualify-imported-names-plugin.cabal
  plugins/hls-refine-imports-plugin/hls-refine-imports-plugin.cabal
  plugins/hls-rename-plugin/hls-rename-plugin.cabal
  plugins/hls-retrie-plugin/hls-retrie-plugin.cabal
  plugins/hls-selection-range-plugin/hls-selection-range-plugin.cabal
  plugins/hls-splice-plugin/hls-splice-plugin.cabal
  plugins/hls-stylish-haskell-plugin/hls-stylish-haskell-plugin.cabal
  plugins/hls-tactics-plugin/hls-tactics-plugin.cabal
Owners: @pepeiborra, @jneira, @berberman, @drsooch, @fendor, @July541, @Ailrun, @tittoassini, @alanz, @georgefst, @eddiemundo, @rayshih, @OliverMadine, @kokobd, @konn, @isovector

Speed up fuzzy search
  ghcide/ghcide.cabal
  ghcide/src/Development/IDE/Plugin/Completions/Logic.hs
  ghcide/src/Text/Fuzzy/Parallel.hs
Owners: @pepeiborra

Restore original wording
  ghcide/src/Development/IDE/Core/Rules.hs
Owners: @pepeiborra

One more pr
  ChangeLog.md
Owners: none

Implement stripPrefix via T.stripPrefix
  ghcide/src/Development/IDE/Plugin/Completions/Logic.hs
Owners: @pepeiborra

Fix #1879
  plugins/hls-tactics-plugin/src/Wingman/KnownStrategies/QuickCheck.hs
  plugins/hls-tactics-plugin/test/CodeAction/AutoSpec.hs
  plugins/hls-tactics-plugin/test/golden/GoldenArbitrarySingleConstructor.expected.hs
  plugins/hls-tactics-plugin/test/golden/GoldenArbitrarySingleConstructor.hs
Owners: @isovector

Implement stripPrefix via T.stripPrefix (#2645)
  ghcide/src/Development/IDE/Plugin/Completions/Logic.hs
Owners: @pepeiborra

One more pr
  ChangeLog.md
Owners: none

Reverse condition to upload candidates
  .github/workflows/hackage.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Remove parenthesis
  ChangeLog.md
Owners: none

Remove unused rerun by comment
  .github/workflows/rerun.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Remove install zip (again)
  .gitlab-ci.yml
Owners: none

Ignore gitlab ci in github
  .github/workflows/bench.yml
  .github/workflows/caching.yml
  .github/workflows/flags.yml
  .github/workflows/nix.yml
  .github/workflows/test.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Update release instructions
  docs/contributing/releases.md
Owners: @michaelpj, @jneira

Correct hls version
  ChangeLog.md
Owners: none

Fix #1879 (#2644)
  plugins/hls-tactics-plugin/src/Wingman/KnownStrategies/QuickCheck.hs
  plugins/hls-tactics-plugin/test/CodeAction/AutoSpec.hs
  plugins/hls-tactics-plugin/test/golden/GoldenArbitrarySingleConstructor.expected.hs
  plugins/hls-tactics-plugin/test/golden/GoldenArbitrarySingleConstructor.hs
Owners: @isovector

Move hackage back to flake.nix
  configuration-ghc-921.nix
  flake.lock
  flake.nix
  flake_hackage/flake.nix
Owners: @berberman, @michaelpj, @guibou

Move hackage back to flake.nix (#2652)
  configuration-ghc-921.nix
  flake.lock
  flake.nix
  flake_hackage/flake.nix
Owners: @berberman, @michaelpj, @guibou

Match against specific error message.
  ghcide/src/Development/IDE/Plugin/HLS/GhcIde.hs
  ghcide/src/Development/IDE/Plugin/NewCodeAction.hs
  ghcide/src/Development/IDE/Plugin/error.txt
Owners: @pepeiborra

Use name schema of github release
  .gitlab-ci.yml
  .gitlab/tar.sh
Owners: @jneira, @hasufell

Apply markdown-lint
  docs/installation.md
Owners: @michaelpj, @jneira

Complete th workarounds
  docs/troubleshooting.md
Owners: @michaelpj, @jneira

Bum up hls version
  haskell-language-server.cabal
Owners: none

Fix bug hls-wrapper non static
  .github/workflows/build.yml
Owners: @jneira, @Anton-Latukha, @Ailrun

Update dynamic build instructions
  docs/troubleshooting.md
Owners: @michaelpj, @jneira
