Repository haskell/haskell-language-server, changes with the owners that CODEOWNERS names for each.
All owners: @pepeiborra, @fendor, @jneira, @berberman, @drsooch, @July541, @Ailrun, @georgefst, @eddiemundo, @OliverMadine, @kokobd, @konn, @isovector, @michaelpj, @Anton-Latukha, @hasufell, @guibou

Revert back to Warning
  ghcide/src/Development/IDE/Plugin/HLS.hs
  ghcide/src/Development/IDE/Types/Logger.hs
Owners: @pepeiborra

Remove some partial functions from Shake.hs (#2986)
  .hlint.yaml
  ghcide/src/Development/IDE/Core/Shake.hs
  hls-graph/hls-graph.cabal
  hls-graph/src/Development/IDE/Graph/Internal/Action.hs
  hls-graph/src/Development/IDE/Graph/Internal/Database.hs
  hls-graph/test/ActionSpec.hs
Owners: @pepeiborra

Add partial functions under alternative import names
  .hlint.yaml
Owners: none

Ban tracing functions also
  .hlint.yaml
  plugins/hls-alternate-number-format-plugin/test/Main.hs
Owners: @drsooch

Update log format in test suite
  test/functional/Format.hs
Owners: none

Add material about using versions of GHC that aren't supported yet
  docs/installation.md
  docs/supported-versions.md
  docs/troubleshooting.md
Owners: @michaelpj, @jneira

Add a note about clearing out the build cache
  docs/troubleshooting.md
Owners: @michaelpj, @jneira

Add note about cabal update to ghcup instructions
  docs/installation.md
Owners: @michaelpj, @jneira

refactor selection range plugin
  exe/Plugins.hs
  ghcide/src/Development/IDE/Core/RuleTypes.hs
  plugins/hls-selection-range-plugin/hls-selection-range-plugin.cabal
  plugins/hls-selection-range-plugin/src/Ide/Plugin/SelectionRange.hs
  plugins/hls-selection-range-plugin/src/Ide/Plugin/SelectionRange/ASTPreProcess.hs
  plugins/hls-selection-range-plugin/src/Ide/Plugin/SelectionRange/CodeRange.hs
  plugins/hls-selection-range-plugin/test/Main.hs
Owners: @pepeiborra, @kokobd

Minor improvements to installing doc
  docs/installation.md
Owners: @michaelpj, @jneira

Tweak ghcup docs more
  docs/installation.md
Owners: @michaelpj, @jneira

refine selection range
  hls-plugin-api/src/Ide/PluginUtils.hs
  hls-plugin-api/test/Ide/PluginUtilsTest.hs
  plugins/hls-selection-range-plugin/hls-selection-range-plugin.cabal
  plugins/hls-selection-range-plugin/src/Ide/Plugin/SelectionRange.hs
  plugins/hls-selection-range-plugin/src/Ide/Plugin/SelectionRange/CodeRange.hs
Owners: @jneira, @berberman, @kokobd

CODEOWNERS:

# Core
/ghcide @pepeiborra
/ghcide/session-loader @pepeiborra @fendor
/hls-graph @pepeiborra
/hls-plugin-api @jneira @berberman
/hls-test-utils @jneira
/hie-compat

# Plugins
/plugins/hls-alternate-number-format-plugin @drsooch
/plugins/hls-brittany-plugin @fendor
/plugins/hls-call-hierarchy-plugin @July541
/plugins/hls-class-plugin @Ailrun
/plugins/hls-eval-plugin
/plugins/hls-explicit-imports-plugin @pepeiborra
/plugins/hls-floskell-plugin @Ailrun
/plugins/hls-fourmolu-plugin @georgefst
/plugins/hls-gadt-plugin @July541
/plugins/hls-haddock-comments-plugin @berberman
/plugins/hls-hlint-plugin @jneira @eddiemundo
/plugins/hls-module-name-plugin
/plugins/hls-ormolu-plugin @georgefst
/plugins/hls-pragmas-plugin @berberman @Ailrun @eddiemundo
/plugins/hls-qualify-imported-names-plugin @eddiemundo
/plugins/hls-refine-imports-plugin
/plugins/hls-rename-plugin @OliverMadine
/plugins/hls-retrie-plugin @pepeiborra
/plugins/hls-selection-range-plugin @kokobd
/plugins/hls-splice-plugin @konn
/plugins/hls-stylish-haskell-plugin @Ailrun
/plugins/hls-tactics-plugin @isovector

# Benchmarking
/shake-bench @pepeiborra

# Docs
/docs @michaelpj @jneira

# CI
/.circleci @jneira @Anton-Latukha
/.github @jneira @Anton-Latukha @Ailrun
/.gitlab @jneira @hasufell

# Build
*.nix @berberman @michaelpj @guibou
*.project @jneira
.gitpod.* @kokobd
